.container {
  width: 100vw;
  height: 190vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 190vh;
}

.category {
  width: 100vw;
  height: 16vh;
  background-color: white;
}

.image {
  background-image: url(/day04/toss/toss.jpg);
  width: 100vw;
  height: 190vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1800px;
  height: 700px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  gap: 10px;
  padding-bottom: 70px;
}

.buttonbox {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: black;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
}

.icon {
  font-size: 30px;
  color: white;
}

.text {
  color: white;
  font-size: 20px;
}
